.descripcion-nosotros {
    background-color: #f8f9fa; 
}

.descripcion-nosotros h2 {
    color: #343a40;
}

.descripcion-nosotros .lead {
    color: #495057;
}

.descripcion-nosotros p {
    color: #6c757d;
}   

@media (max-width: 767px) {
    .descripcion-nosotros .ratio {
        margin-top: 1.5rem;
    }
}