.home-contenedor {
    text-align: center;
}

#carouselCafe {
    width: 100vw;          
    margin-left: calc(-50vw + 50%); 
    background-color: black; 
}

#carouselCafe .carousel-item img {
    width: 100%;
    height: 500px;    
    object-fit: cover; 
}
